    /*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



    /*=============== VARIABLES CSS ===============*/
    :root {
        --header-height:3.5rem;

    
        /*=============== Colors ===============*/
        /*Color mode HSL(hue, saturation, lightness)*/
        --bg-color: hsl(220, 18%, 78%);
        --bg-color-light: hsl(220, 18%, 86%);
        --title-color: hsl(220, 8%, 10%);
        --text-color: hsl(220, 4%, 32%);
        --text-color-light:hsl(220, 4%, 55%) ;
        --body-color: hsl(220, 18%, 99%);
        --container-color: hsl(220, 18%, 97%);

        /*=============== Font and typography ===============*/
        /* 5rem = 8px / 1rem = 16px ... */
         font-family: "Lora", serif;

        --biggest-font-size: 2.25rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;

        /*=============== Font and typography ===============*/
        --font-regular:400;
        --font-medium:500;
        --font-semi-bold:600;

        /*=============== z index ===============*/
        --z-tooltip:10;
        --z-fixed:100;
    }

    /* Responsive typography */
    @media screen and (min-width: 1124px) {
        :root {
            --biggest-font-size: 4.5rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }

    /*=============== BASE ===============*/
    *{
        box-sizing:border box;
        padding:0;
        margin:0;
    }

    html {
        scroll-behavior:smooth;
    }

    body {
        background-color:var(--body-color);
        color:var(--text-color);
        font-family:var(--body-font);
        font-size:var(--normal-font-size);
    }

    h1, h2, h3 {
        color:var(--title-color);
        font-weight:var(--font-medium);
    }
    
    ul{
        list-style:none;
    }

    a {
        text-decoration:none;
    }

    img{
        max-width:100%;
        height:auto;
    }
    /*=============== THEME ===============*/
    /*=============== Variables Dark theme ===============*/


    /*=============== Button Dark/Light ===============*/


    /*=============== 
    Color changes in some parts of
    the website, in dark theme
    ===============*/

    /*=============== REUSABLE CSS CLASSES ===============*/
    .container {
        max-width:1024px;
        margin-left:1.5rem;
        margin-right:1.5rem;
    }

    .grid{
        display:grid;
        gap:1.5rem;
    }

    .section{
        padding: 4.5rem 0 2rem;
    }

    .section__title{
        font-size:var(--h1-font-size);
        text-align:center;
        margin-bottom:3rem;
    }

    .main{
        overflow:hidden; /*Para animaciones*/

    }
    /*=============== HEADER & NAV ===============*/
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: var(--z-fixed);
        transition:.4s;
    }

    .nav{
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo{
        font-weight:var(--font-medium);
        color:var(--title-color);
    }

    @media screen and (max-width: 1023px) {
        .nav__menu{
            position:fixed;
            bottom: 1.5rem;
            background-color: var(--body-color);
            box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
            width: 90%;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 1.25rem 2.8rem;
            border-radius: .5rem;
          }
          .nav__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .nav__link{
            color: var(--text-color-light);
            font-weight: var(--font-medium);
            display: grid;
            justify-items: center;
            row-gap: .25rem;
          }

          .nav__link i{
            font-size: 1.25rem;
          }
          .nav__link span {
            font-size: .688rem;
          }

    }
    
    /* Change background header */
    .scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
    } 

    /* Active link */
    .active-link {
       color: var(--title-color); 
    }
    /*=============== HOME ===============*/
    .home {
        background-color: var(--bg-color);
        overflow: hodden;
    }

    .home__container{
        padding: 4rem 0 1rem;
        row-gap: 8.5rem;
    }

    .home__title{
        font-size: var(--biggest-font-size);
        font-weight: 400;
    }

    .home--description{
        color: var(--title-color);
        margin: 1rem 0 2rem;
    }

    .home__title,
    .home--description{
        line-height: 140%
    }

    .home__images{
        position: relative;
        width: 310px;
        justify-self: center;
    }

    .home__images img:nth-child(1){
        width: 224px;
        position: absolute;
        right: -1.5rem;
        top: -9.5rem;
    }

    .home__images img:nth-child(2){
        width: 180px;
        margin-left: .5rem;
        position: relative;
    }

    /*=============== BUTTON ===============*/
    .nutton__link {
        color: var(--title-color);
        font-weight: var(--font-medium);
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
    }

    .button__link i {
        font-size: 1rem;
        transition: .3s;
    }

    .button__link:hover i {
        transform: translateX(.25rem);
    }

    /*=============== NEW ===============*/
    .new__container{
        row-gap: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .new__card{
        justify-self: center;
    }

    .new__img {
        width: 270px;
        margin-bottom: 1rem;
    }

    .new__link {
        display: flex;
        align-items:center;
        justify-content: space-between;
        color: var(--title-color);
        padding-right: .75rem;
    }

    .new__link i {
        font-size: 1.25rem;
        transition: .3s;
    }

    .new__title{
        font-size: var(--h2-font-size);
        margin-bottom: .5rem;
    }

    .new__subtitle{
        font-size: var(--smaller-font-size);
        color: var(--text-color);
    }

    .new__link:hover i {
        transform: translateX(.25rem);
    }
    /*=============== COLLECTION ===============*/
    .collection{
        background-color: var(--bg-color-light);
        overflow: hidden;
    }

    .collection__container{
        position: relative;
        height: 571px;
        display: grid;
        justify-items: center;
    }

    .collection__title{
        font-size: var(--h1-font-size);
        margin-bottom: .75rem;
    }

    .collection__explore{
        display: grid;
        column-gap: 2rem;
        position: absolute;
    }

    .collection__explore:nth-child(2){
        grid-template-columns: 230px max-content;
        bottom: 1rem;
        margin-right: 5rem;
    }

    .collection__explore:nth-child(1){
        grid-template-columns: max-content 230px;
        top: 0;
        margin-left: 5rem;
    }

    .collection__data-men {
        margin-top: 2.5rem;
    }

    .collection__data-women{
        align-self: flex-end;
        margin-bottom: 2.5rem;
    }
    /*=============== PRODUCTS ===============*/
    .products__container{
        padding-bottom: 1.5rem;
    }

    .products__card{
        width: 270px;;
    }

    .products__img{
        margin-bottom: 1rem;
    }

    .products__title{
        font-size: var(--h3-font-size);
        margin-bottom: .75rem;
    }

    .products__price{
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    /*Swiper class */
    .swiper-button-prev::after,
    .swiper-button-next::after{
        content: '';
    }

    .swiper-button-next,
    .swiper-button-prev{
        top: initial;
        bottom: -10px;
        width: initial;
        font-size: 1.5rem;
        color: var(--title-color)
    }

    .swiper-button-prev{
        left: calc(50% - 2rem);
    }

    .swiper-button-next{
        right: calc(50% - 2rem);
    }

    /*=============== BRANDS ===============*/
    .brand__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 1.25rem;
    }

    .brand__img{
        width: 120px;
    }

    .brand__img:nth-child(even){
        margin-top: 2rem;
    }
    /*=============== FOOTER ===============*/
    a.footer__container{
        row-gap: 3rem;
    }

    .footer__logo{
        font-weight: var(--font-medium);
        font-size: var(--h2-font-size);
        color: var(--title-color);
        display: inline-block;
        margin-bottom: .75rem;
    }

    .footer__content,
    .footer__links{
        display: grid;
    }

    .footer__content {
        grid-template-columns: repeat(2, max-content);
        gap: 3.5rem 3 rem;
    }

    .footer__title{
        font-size: var(--h3-font-size);
        margin-bottom: 1.25rem;
    }

    .footer__links,
    .footer__information{
        font-size: var(--small-font-size);
    }

    .footer__link{
        color: var(--text-color);
        transition: .3s;
    }

    .footer__link:hover{
        text-decoration: underline;
        color: var(--title-color);
    }

    .footer__social{
        display: flex;
        column-gap: .5rem;
    }

    .footer__social-link{
        display: inline-flex;
        color: var(--title-color);
        padding: .4rem;
        font-size: 1.25rem;
        background-color: var(--container-color);
        transition: background-color .3s;
    }

    .footer__social-link:hover{
        background-color: var(--bg-color-light);
    }

    .footer__info{
        margin-top: 6rem;
        padding-bottom: 6rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        row-gap: .75rem;;
    }

    .footer__copy,
    .footer__privacy{
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }

    /*=============== SCROLL BAR ===============*/
    ::-webkit-scrollbar{
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(220, 8%, 76%);
    }

    ::-webkit-scrollbar-thumb{
        border-radius: .5rem;
        background-color: hsl(220, 8%, 64%);
    }

     ::-webkit-scrollbar-thumb:hover{
        background-color: hsl(220, 8%, 54%);
    }

    /*=============== SCROLL UP ===============*/
    .scrollup{
        position: fixed;
        right: 1rem;
        bottom: -30%;
        background-color: var(--container-color);
        box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
        display: inline-flex;
        padding: .35rem;
        color: var(--title-color);
        font-size: 1.1rem;
        z-index: var(--z-tooltip);
        transition: .3s;
    }

    .scrollup:hover{
        transform: translateY(-.25rem);
    }

    /* Show scroll up */
    .show-scroll{
        bottom: 7.5rem;
    }
